* {
  box-sizing: border-box;
  /* Đây là điều tiên quyết trước khi bắt đầu một dự án, mục đích của nó là cái width của mỗi item sẽ bao gồm cả padding và border (Ví dụ 200px cho mỗi item thì sẽ bao gồm cả padding và border rồi */
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* vh = view height = 100% phần hiển thị của trình duyệt */
}

.header {
  display: flex;
  justify-content: space-between;
  /* Space between để chia 2 div làm đôi */
  align-items: center;
  padding: 0 24px;
  height: 56px;
  background-color: #13c2c2;
  color: #ffffff;
}

.main-container {
  flex: 1;
  /* Flex 1 để nó có độ rộng full */
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.main-content {
  padding: 16px 24px;
  width: 100%;
  transition: all 0.7s;
}

.main-show-sidebar {
  width: calc(100% - 250px);
}

.list {
  display: flex;
  flex-wrap: wrap;
  /* Flex wrap là khi nó tràn thì nó sẽ xuống dòng */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #006d75;
  color: #ffffff;
}

/* Là cái bao trùm bên ngoài một item */
.item-wrapper {
  width: 20%;
  padding: 8px;
}

/* Là chính item đó */
.item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  padding: 8px;
  background-color: aquamarine;
}

.new {
  position: absolute;
  top: 8px;
  left: -8px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 24px;
  background-color: red;
  color: #ffffff;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Đây là background color có độ mờ  */
  z-index: 99;
  font-weight: 500;
  overflow: hidden;
}

.sidebar-show {
  width: 100%;
}

.sidebar-container {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  background-color: cornflowerblue;
  z-index: 99;
  transition: all 0.7s;
}

.sidebar-show .sidebar-container {
  left: 0;
}

.sidebar-content {
  display: flex;
  justify-content: space-between;
}

.sidebar-outside {
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 100vh;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 40px;
  background-color: #218b97;
  color: white;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: rgb(177, 177, 24);
}

.sidebar-item-active {
  background-color: rgb(177, 177, 24);
  border-right: 5px solid rgb(44, 43, 43);
}

.right-sidebar-container {
  position: fixed;
  top: 56px;
  right: -250px;
  width: 250px;
  height: calc(100% - 96px);
  background-color: rgba(224, 133, 28, 0.404);
  overflow: hidden;
  padding: 16px;
  transition: all 0.7s;
}

.right-sidebar-show {
  right: 0;
}
